<section class="Descripcion">
            <img id="ImagenDescripcion" src="imagenes/2.jpg" height="350" alt="Descripción">
            <div class="RigthDiv">
                <h1 class="Titulo">Fragancias para tu personalidad</h1>
                <h2 class="Subtitulo">Acerca de nosotros</h2>
                <p>Ophelia's  Perfumer nace del convencimiento de que cada persona nos identificamos por un aroma especial y personal.</p>    
                <p>Para qué ocasión necesitarás el perfume? Salidas con amigas, citas amorosas, uso diario o quieres conquistar a esa persona que tanto te gusta?</p>
                    
                <button>Más Información</button>
            </div>
</section>