<header>
        <h1 id="TituloPagina">Ophelia's  Perfumer</h1>
        <h2 id=""></h2>
        <h1 id="SubtituloPagina">El placer de crear tu propio perfume</h1>
        <button>Explorar</button>
    </header>