<section class="Informacion">
            <h1 id="TextoBr">Contacto</h1>
            <h2 id="TextoBr"><span class="icon-map">  Dirección</span></h2>
            <a href="https://goo.gl/maps/rVLx6ZxfQrxKYQ9Q9">
                <h3 class="Subtitulo">uan León Mera Nro. 19-36 y Av.Patria - Quito     </h3>
            </a>

            <h2 id="TextoBr"><span class="icon-envelop">  Email</span></h2>
            <a href="mailto:zaddiperfumer-0479@gmail.com">
                <h3 class="Subtitulo">zaddiperfumer-0479@gmail.com</h3>
            </a>

            <h2 id="TextoBr"><span class="icon-phone">  Telefono</span></h2>
            <a href="tel:+593 23978900">
                <h3 class="Subtitulo">+593 23978900</h3>
            </a>
</section>