<section class="Tienda">
            <div class="BGround">
                
                <div class="LeftDiv">
                    <h1 id="TextoBr">Algunos de nuestros productos </h1>
                    <h2 id="TextoW">Cada uno de nosotros nos sentimos atraídos por unas fragancias específicas.</h2>
                    <h3 id="TextoP">¿Quién no ha sentido la necesidad de cerrar lo ojos y recrearse en el recuerdo que le trae un aroma especial?</h3>
                    <button id="TextoW">Inventario</button>
                </div>
                {{#productos}}
                {{/productos}}
                
            </div>
            
        </section>